<main class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Importante</h3>
            <div class="mdl-card__supporting-text">
                <p style="text-align: center; text-justify: inter-word;">
                    Caso você não tenha assistido o vídeo de introdução e lido o conteúdo "Primeiros Passos", é indicado que o faça. Se assim
                    desejar, basta clicar no botão abaixo e será automaticamente redirecionado para a página.<br/>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="#/inicio">Primeiros Passos</a>
                </p>
                <p style="text-align: center; font-weight: bold">
                    Após realizar um ou mais exercícios, por favor, deixe sua opinião sobre a ferramenta e plataforma. Sua opinião é muito importante
                    para o andamento do projeto.<br/>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://saber.ppgtic.ufsc.br/survey/index.php"
                        target="_blank">Pesquisa</a>
                </p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 1</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe dois números e imprime o maior deles.
        </div>
        <br/><br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex1/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 2</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe uma letra e determina se a mesma é vogal ou consoante.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex2/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 3</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe dois números reais do usuário, e realiza a operação matemática selecionada.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex3/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 4</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe três números reais do usuário e calcula a soma dos números negativos.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex4/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 5</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe três números inteiros do usuário e calcula a soma dos números pares.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex5/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 6</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe quatro números inteiros do usuário e calcula a soma dos números que são impares ou positivos.
        </div>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex6/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 7</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe quatro números inteiros do usuário e calcula quantos números pares e quantos números impares foram digitados.
        </div>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex7/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 8</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que recebe quatro números reais do usuário e calcula o valor médio dos números positivos.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border" style="width:100%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex8/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                <div style="text-align:center;width:100%;font-weight:bold;">Exercício 9</div>
            </h2>
        </div>
        <div class="mdl-card__supporting-text" style="width:90%;text-align:center">
            Escreva um programa que informa quantos dias tem no mês escolhido pelo usuário.
        </div>
        <br/><br/>
        <div class="mdl-card__actions mdl-card--border" style="width:90%;text-align:center">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/ex9/index.html">Acessar</a>
        </div>
    </div>
</main>