<main class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/introducao_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Projeto</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Conheça melhor quais são os objetivos deste portal, e qual será o nosso desafio.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="#/introducao">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/primeiro_passos_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Primeiros Passos</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Nesta seção você encontrará tudo que precisa saber para iniciar os estudos e práticas no portal.
        </div>
        </br>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="#/inicio">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/exercicio_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Exercícios</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Lista de exercícios desenvolvidos para facilitar a compreensão da ferramenta e auxiliar na aprendizagem.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="#/exercicios">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/ambiente_livre_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Ambiente Livre</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Ambiente completo e livre para voc&ecirc; construir seus algoritimos, testar suas l&oacute;gicas e afins.
        </div>
        </br>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="../base/exercs/workspace/index.html">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/pesquisa_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Pesquisa</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Por gentileza, acesse nossa pesquisa e nos dê a sua opinião sobre o projeto, interface, e sua experiência com o portal.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">Acessar</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="images/ajuda_logo.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Ajuda</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Série de vídeos explicando cada parte dos comandos disponibilizados dentro do blockly.
        </div>
        <br/>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">Acessar</a>
        </div>
    </div>
</main>