<main class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Primeiros Passos</h3>
            <div class="mdl-card__supporting-text">
                <p style="text-align: center; text-justify: inter-word; font-weight: bold;">
                    Nesta página você encontrará uma verdadeira "trilha" que será de grande ajuda para você entender o funcionamento do portal,
                    os objetivos e o funcionamento da ferramenta.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Iniciando nossa trilha, é indicado que você assista primeiro o vídeo abaixo. Nele você encontrará uma visão geral de todo
                    o projeto.
                </p>
                <p style="text-align: center; text-justify: inter-word;">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/c4gSctqc-is" frameborder="0" allowfullscreen></iframe>
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Após assistir o vídeo se torna bastante interessante conhecer a central de dúvidas (FAQ). O FAQ foi desenvolvido para servir
                    de repositório geral de materiais e como um local onde todos possam contribuir, seja através de perguntas
                    ou sugestões. Para entender como o ambiente funciona é indicado que você leia/assita o guia de introdução.
                    <p style="text-align: center; text-justify: inter-word;">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="http://saber.ppgtic.ufsc.br/faq/index.php?sid=19&lang=pt-br&action=artikel&cat=3&id=1&artlang=pt-br"
                            target="_blank">Introdução</a>
                    </p>
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Após ter assistido os vídeos, é o momento de resolver os exercícios propostos dentro do portal. Estes exercícios foram desenvolvidos
                    e ordenados de forma a permitir que você tenha uma curva de aprendizado crescente. Assim, os mesmos iniciam
                    com uma abordagem simplificada, com leitura simples de variáveis e valores do usuário, até encadeamento
                    de condições.
                </p>
                <p style="text-align: center; text-justify: inter-word;">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex1/index.html" target="_blank">Exercício 1</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex2/index.html" target="_blank">Exercício 2</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex3/index.html" target="_blank">Exercício 3</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex4/index.html" target="_blank">Exercício 4</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex5/index.html" target="_blank">Exercício 5</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex6/index.html" target="_blank">Exercício 6</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex7/index.html" target="_blank">Exercício 7</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex8/index.html" target="_blank">Exercício 8</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" 
                        href="../base/exercs/ex9/index.html" target="_blank">Exercício 9</a>
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Após o desenvolvimento dos exercícios, é interessante você ler mais sobre o ambiente, para avançar
                    no desenvolvimento dos programas. Assim, os conteúdos abaixo, buscam aprofundar a abordagem de
                    certos aspectos e lhe proporcionar subsídios para programas mais avançados.
                </p>
                <p style="text-align: left; text-justify: inter-word;">
                    <span><strong>Sobre a Interface:</strong></span>
                    <ul>
                        <li><a href="http://saber.ppgtic.ufsc.br/faq/index.php?action=artikel&cat=2&id=5&artlang=pt-br" target="_blank">Componentes</a></li>
                        <li><a href="http://saber.ppgtic.ufsc.br/faq/index.php?action=artikel&cat=2&id=6&artlang=pt-br" target="_blank">Botões</a></li>
                        <li><a href="http://saber.ppgtic.ufsc.br/faq/index.php?action=artikel&cat=2&id=7&artlang=pt-br" target="_blank">Guias</a></li>
                        <li><a href="http://saber.ppgtic.ufsc.br/faq/index.php?action=artikel&cat=2&id=8&artlang=pt-br" target="_blank">Opções dos Componentes</a></li>
                    </ul>
                </p>
                <p style="text-align: left; text-justify: inter-word;">
                    <span><strong>Sobre os Blocos:</strong></span>
                    <ul>
                        <li><a href="http://saber.ppgtic.ufsc.br/faq/index.php?action=artikel&cat=2&id=4&artlang=pt-br" target="_blank">Lógica - Básico</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>