<main class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline" style="text-align:center">Projeto</h3>
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-card__supporting-text" style="width:100%">
                <p style="text-align: justify; text-justify: inter-word;">
                    Aprender a desenvolver c&oacute;digos auxilia em muitas &aacute;reas do conhecimento, sendo que
                    dentre elas,
                    permite o desenvolvimento de uma nova forma de pensar e enxergar as coisas ao redor, forma esta que
                    visto a globaliza&ccedil;&atilde;o e interdisciplinaridade das profiss&otilde;es, acaba se tornando
                    praticamente
                    necess&aacute;ria em todos os dom&iacute;nios do conhecimento.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Steve Jobs &ndash; aclamado como um dos maiores vision&aacute;rios da tecnologia &ndash; certa vez
                    em uma entrevista
                    mencionou a import&acirc;ncia de se aprender a programar, ao dizer &ldquo;todos deveriam aprender a
                    programar,
                    porque ensina voc&ecirc; como pensar&rdquo;.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Atualmente existem in&uacute;meros projetos que buscam desenvolver essas compet&ecirc;ncias, sendo a
                    iniciativa
                    do <a href="https://code.org" target="_blank">Code.org</a>
                    provavelmente a mais famosa e conhecida, que dentre os v&aacute;rios apoiadores conta com Bill
                    Gates, Mark Zuckerberg e grandes empresas, como Microsoft, Google, dentre outras. No v&iacute;deo
                    abaixo, produzido pela
                    iniciativa, pode-se entender melhor o que pensam algumas celebridades sobre a compet&ecirc;ncia e o
                    objetivo do projeto:
                </p>
                <p style="text-align: center; text-justify: inter-word;">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0"
                            allowfullscreen></iframe>
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Com o passar dos anos foram se popularizando ferramentas que buscam atrav&eacute;s de uma forma
                    diferenciada, e por vezes l&uacute;dica, levar aos estudantes conceitos relacionados a &aacute;rea
                    de programa&ccedil;&atilde;o.
                    Dentre os v&aacute;rios
                    projetos, nomes como <a href="https://code.org" target="_blank">Code.org</a>, <a
                        href="https://www.codecademy.com/" target="_blank">Codecademy</a>, se destacam, e algumas
                    bibliotecas como o <a href="https://developers.google.com/blockly/" target="_blank">Blockly</a> e
                    <a href="https://scratch.mit.edu" target="_blank">Scratch</a> permitem que a concep&ccedil;&atilde;o
                    de programas se torne menos t&eacute;cnica e dispense
                    a escrita direta em
                    linguagem de programa&ccedil;&atilde;o.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    S&atilde;o conhecidas, principalmente dentro do setor acad&ecirc;mico &ndash; destaca-se que o foco
                    do
                    estudo fora as
                    institui&ccedil;&otilde;es de ensino superior brasileiras -, as dificuldades que os estudantes
                    enfrentam em
                    desenvolver os conceitos relacionados ao desenvolvimento de algoritmos e programas, principalmente
                    nas fases iniciais. Estas dificuldades s&atilde;o decorrentes de v&aacute;rios motivos, dentre os
                    quais pode-se
                    destacar a falta de atratividade na did&aacute;tica, dificuldade em abstra&ccedil;&atilde;o do m&eacute;todo
                    para a solu&ccedil;&atilde;o dos
                    problemas propostos e abordagens por vezes muito matem&aacute;ticas, que acabam desestimulando os
                    estudantes.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Buscando abordar a problem&aacute;tica sobre um novo ponto de vista, surgiu a concep&ccedil;&atilde;o
                    desta proposta de
                    mestrado. Assim a inten&ccedil;&atilde;o do Portal Saber &eacute; mensurar o quanto a abordagem
                    baseada em uma interface
                    diferenciada e din&acirc;mica auxilia nos estudos de l&oacute;gica e algoritmos, ao passo que
                    desenvolvendo uma
                    interface simples e objetiva, possa servir de base para ado&ccedil;&atilde;o livre por professores,
                    institui&ccedil;&otilde;es e
                    p&uacute;blico em geral.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Desta forma, buscar-se-&aacute; desenvolver exerc&iacute;cios e materiais voltados para as
                    necessidades
                    identificadas &ndash; atrav&eacute;s de analise bibliogr&aacute;fica e aferidas em sala de
                    aula &ndash; que permitam aos
                    alunos e professores uma forma diferente de abordagem do estudo.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Assim, pode-se afirmar que o projeto possui tr&ecirc;s eixos principais, sendo:
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                <ul>
                    <li>Desenvolver uma interface voltada as particularidades do p&uacute;blico alvo</li>
                    <li>Aferir a efetividade da ferramenta</li>
                    <li>Construir o ambiente de forma a permitir que as tecnologias utilizadas permitam a f&aacute;cil
                        replica&ccedil;&atilde;o e personaliza&ccedil;&atilde;o.
                    </li>
                </ul>
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Em busca de alcan&ccedil;ar os objetivos acima mencionados &ndash; em particular o terceiro &ndash;,
                    todas as partes
                    deste projeto utilizam ferramentas livres, sendo ainda o c&oacute;digo fonte do portal e os
                    materiais
                    relacionados a parte de ajuda e v&iacute;deos, livres para reprodu&ccedil;&atilde;o.
                </p>
                <p style="text-align: left; text-justify: inter-word;">
                    Fontes: <a href="https://blogdopetcivil.com/sobre/" target="_blank">PET</a>, <a
                        href="https://code.org" target="_blank">Code.org</a>, <a
                        href="http://www.brasscom.org.br/brasscom/Portugues/detNoticia.php?codArea=2&codCategoria=26&codNoticia=400">Brasscom
                    na M&iacute;dia</a> e <a href="http://www.brasscom.org.br/brasscom/Portugues/download.php?cod=538"
                                             target="_blank">Brasscom</a>.
                </p>
            </div>
        </div>
    </div>
</main>