<main class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Sobre</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p style="text-align: center">Desenvolvido como parte integrante da proposta de mestrado do aluno
                    <strong><a
                            href="javascript:window.open('http://lattes.cnpq.br/9175378911774164')">Paulo
                        Henrique
                        Eli</a></strong>, orientado pelas professoras <strong><a
                            href="javascript:window.open('http://lattes.cnpq.br/8339563650267766')">Dra. Olga
                        Yevseyeva</a></strong> e <strong><a
                            href="javascript:window.open('http://lattes.cnpq.br/6348215204947696')">Dra.
                        Luciana
                        Bolan Frigo</a></strong>.<br/><br/>Universidade Federal de Santa Catarina (UFSC), Campus Araranguá.
                </p>
            </div>
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Informações Técnicas
            </h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p style="text-align: justify; text-justify: inter-word;">Este projeto utiliza alguns frameworks e bibliotecas em sua construção, 
                        dentre as quais destacam-se: <a href="javascript:window.open('https://angularjs.org')">AngularJS</a>,
                    <a href="javascript:window.open('https://developers.google.com/blockly/')">Blockly</a>,
                    <a href="javascript:window.open('https://getmdl.io')">Material Design
                        Lite</a>, <a href="javascript:window.open('https://jquery.com')">jQuery</a>,
                    <a href="javascript:window.open('http://getbootstrap.com')">Bootstrap</a> e <a href="javascript:window.open('http://bootboxjs.com')">Bootbox.js</a>.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    A gestão da plataforma de dúvidas e ajuda (FAQ) é desenvolvida na ferramenta
                    <a href="http://www.phpmyfaq.de" target="_blank">phpMyFaq</a> de autoria de Thorsten Rinne e comunidade.
                    O projeto é de uso livre, sendo seu código disponiblizado de forma livre. Destaca-se que foram realizadas
                    alterações e personalizações no código, buscando melhor adequá-la a necessidade do portal.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Todas as imagens foram obtidas no portal <a href="javascript:window.open('https://pixabay.com/pt/')">Pixabay</a>,
                    sendo todas de livre reprodução. Acerca das características visuais do portal, o mesmo fora obtido e
                    personalizado do site do Material Design Lite, sendo o mesmo disponibilizado como material de exemplo
                    das funcionalidades da biblioteca.
                </p>
            </div>
        </div>
    </div>
</main>